* {
  margin: 0;
  padding: 0;


  text-decoration: none;
  color: black;
}

.container {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(8, 160px);
  row-gap: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  column-gap: 10px;
}

.index {
  height: 20px;
  margin-left: auto;
  margin-right: auto;

}

.cell {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  grid-template-rows: 20px auto auto;
  transition: 2s;
}

.text {
  font-size: 120px;
  writing-mode: vertical-rl;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.reading {
  font-size: 30px;
  writing-mode: vertical-rl;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.cell:hover {
  background-color: #FEC8D8;
  transition: 0s;


  .reading {
    opacity: 100;
  }
}

.grade {
  width: 100%;
  font-size: 80px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}