* {
  margin: 0;
  padding: 0;


  text-decoration: none;
  color: black;
}

.container {}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list-item {

  border-color: black;

  border-style: solid;

  border-width: 0.1px;
}

/* .list>div:hover {} */

.list>div:hover {

  background-color: #FEC8D8;
}

.master-container {
  padding-left: 40vh;
  padding-right: 40vh;
}