* {
  margin: 0;
  padding: 0;


  text-decoration: none;
  color: black;
}

.master-container {

  justify-content: center;
}

.list {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 200px 200px;
}

.list-item {


  border-color: black;

  border-style: solid;

  border-width: 0.1px;
}

/* .list>div:hover {} */

.list>.list-item:hover {

  background-color: #FEC8D8;
}

.master-container {
  padding-left: 10px;
  padding-right: 10px
}

/* jukugyo */

.jukugo {
  margin-left: 240px;
  font-size: 80px;
}

.kanji {
  margin-left: 80px;
  font-size: 160px;

}

.grade {
  margin-left: 20px;
  font-size: 200px;
}

a:hover {
  background-color: #FEC8D8;
}